.carousel_items{
    width: 200px;
    height: 250px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    transform-origin:left;
    
}

.carousel_items:hover{
    transition: 450ms all;
    transform: scale(1.5);
    z-index: 1;

}

.carousel_items img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel_items_detalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 10px;
    bottom: 0;
    opacity: 0;
}

.carousel_items_detalle:hover{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
    opacity: 1;
}

.carousel_items_detalle_img img{
    width: 20px;
    height: 20px;
}

.carousel_items_detalle_titulo{
    margin: 5px 0px 0px 0px;
}

.carousel_items_detalle_subtitulo{
    font-size: 10px;
    margin: 3px,0px;
}