.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    min-height: calc(100vh - 220px);
}

.login_contenedor{
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 700px;
    padding: 60px 60px 30px;
    width: 450px;
}

h2{
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px;
}

.login_contenedor_form{
    display: flex;
    flex-direction: column;
}

.input{
    background-color: transparent;
    border-bottom: 1.5px solid white;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
}

input.input{
    width: 325px;
}

::placeholder { color: white; }

.boton{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.boton:hover{
    color: #7b0a7b;
    background-color: rgba(98, 98, 98, 0.1);
}

.login_contenedor_recuerdame{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 300px;
}

label{
    cursor: default;
    font-size: 14px;
}

.login_contenedor_recuerdame a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login_contenedor_recuerdame a:hover{
    text-decoration: underline;
}

.login_contenedor_socialm{
    width: 300px;
    height: 80px;
}

div a{
    color: white;
    text-decoration: none;
}
div i{
    margin-right: 10px;
}

.login_contenedor_registro{
    width: 300px;
    height: 20px;
    margin: 14px 0px;
    font-size: 14px;
}

.login_contenedor_registro a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.login_contenedor_registro a:hover{
    color: #4a0a7b;
    text-decoration: underline;
}